.bar {
    position: relative;
    width: 100%;
    border: 1px solid #eee;
    display: flex;
    border-radius: 40px;
    margin:10px;
    padding: 5px 10px;
    box-shadow: 4px 8px 8px rgba(0,0,0,0.1);
}

.barText {
    font-weight: 600;
}

.barPercent{
    display: flex;
    position: absolute;
    right: 10px;
    font-weight: 600;
}

.barBG{
    position: absolute;
    z-index: -1;
    left: 80px;
    top: 0;
    margin:0;
    background-color:#fff;
    height: 100%;
    width: 0px;
    transition: all 1s ease-in-out;
}

.Notice{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;
    padding: 0px 10px;

}
